<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" parallel="false" preserve-order="true" >
    <test name="BasicSuite" >
        <classes>
            <class name="test.java.SetUp.SetUp" />
            <class name="test.java.Testcases.LoginPageTest" />
        </classes>
    </test>
</suite>